


body{
  background-color: honeydew;

}

.jumbotron{
  background-color: lightsteelblue;
  background-image: url("ima8.jpg");

}
.jumbotron h1{
  color: navy;

}
.jumbotron small{
  color: red;
}
.jumbotron h4{
  color: red;
}
.categ h3{
  color: navy;

}
.carusel{
  margin-top: 50px;
  background-color: lightsteelblue;
}

.menues{
  display: flex;
  flex-direction: row;

}
#dropdown1{
  margin-right: 20px;

}
#dropdown3{
  margin-right: 20px;

}

#dropdown2{
    margin-right: 20px;
}
.carusel h3{
  color: red;
}
.carusel h2{
  color:yellow;
}
.carusel{
    background-image: url("ima14.jpeg");
}


.form1{
  margin-top: 100px;
  text-align: center;


}
.form1 a{
  color:#f00f00;
}
.form1 a:hover{
 color:green;
}

.inicio{
margin-top: 100px;
text-align: center;

}
